{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
            <h1>Advertisement</h1>
            <div class="Link__User">
                {% block header_link %}
                    <a href="{% url 'addAvertisement' %}" class="addAdversement">Add Advertisement</a>
                {% endblock %}
                <div class="user">
                    {% if user.is_authenticated %}
                         <img src="{{ user.img.url }}" alt="img user">
                        <a href=" {% url 'profile' user user.pk %}">{{ user }}</a>
                    {% else %}
                         <img src="{% static 'images/user.png' %}" alt="img user">
                        <a href=" {% url 'login' %}">Login/Signin</a>
                    {% endif %}


                </div>
            </div>
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
        <script>
            const MaxGetAjax = 20
        </script>
    </main>

    {% block scripts %}
    {% endblock %}
</body>
</html>