{% extends 'home/base.html' %}
{% load static %}


{% block title %}Advertisement site{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
    <div class="finds">
        <div>
            <input placeholder="find advertisement" id="find_advertisement" onchange="AvertisementFilter()">
            <button onclick="AvertisementFilter()">Find</button>
        </div>

        <div class="cities_check">
            <div class="imgCityShowHidden" onclick="cities_img_checks()">
                <img class="cities_img" src="{% static 'images/cities.png' %}" alt="cities">
                <h2>Cities</h2>
            </div>
            <div class="cities">
                {% for city in Cities %}
                    <div class="city_check">
                        <input type="checkbox" value="{{ city.id }}" onchange="AvertisementFilter()">
                        <img src="{{ city.img.url }}" class="img_city" alt="img {{ city }}">
                        <h4>{{ city }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="companies_check">
            <div class="imgCompanyShowHidden" onclick="companies_img_checks()">
                <img class="companies_img" src="{% static 'images/companies.jpg' %}" alt="companies">
                <h2>Companies</h2>
            </div>

            <div class="findCompanies">
                <input placeholder="find company" id="find_company" onchange="CompanyFilter()">
                <button onclick="CompanyFilter()">Find</button>
                <div class="companies"></div>
            </div>
        </div>
    </div>

    <div class="categories">
        {% for category in Categories %}
            <div class="category" onclick="AvertisementFilterOnCategory(this)" id="category_{{ category.id }}">
                <img src="{{ category.img.url }}" alt="{{ category }} img">
                <p>{{ category }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="advertisements"></div>

{% endblock %}

{% block scripts %}
    <script>
        let avertisementFilter = "{% url 'avertisementFilter' %}"
        let companiesFilter = "{% url 'companiesFilter' %}"
    </script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}